{% extends 'admin/base.html.twig' %}
{% block title %}Piece index{% endblock %}
{% block contenu %}

    <h1>Piece index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>NbReference</th>
                <th>Prix_unitaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece in pieces %}
            <tr>
                <td>{{ piece.id }}</td>
                <td>{{ piece.nom }}</td>
                <td>{{ piece.marque }}</td>
                <td>{{ piece.nbReference }}</td>
                <td>{{ piece.prixUnitaire }}</td>
                <td>
                    <a href="{{ path('app_piece_show', {'id': piece.id}) }}">show</a>
                    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_piece_new') }}">Create new</a>
{% endblock %}
