{% extends 'base.html.twig' %}

{% block title %}Tracteur index{% endblock %}

{% block body %}
    <h1>Tracteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tracteur in tracteurs %}
            <tr>
                <td>{{ tracteur.id }}</td>
                <td>{{ tracteur.nom }}</td>
                <td>
                    <a href="{{ path('app_tracteur_show', {'id': tracteur.id}) }}">show</a>
                    <a href="{{ path('app_tracteur_edit', {'id': tracteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun tracteur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tracteur_new') }}">Create new</a>
{% endblock %}
