{% extends 'base.html.twig' %}

{% block title %}Assurance index{% endblock %}

{% block body %}
    <h1>Assurance </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Compagnie</th>
                <th>NumPolice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance in assurances %}
            <tr>
                <td>{{ assurance.id }}</td>
                <td>{{ assurance.dateDebut ? assurance.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ assurance.dateFin ? assurance.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ assurance.compagnie }}</td>
                <td>{{ assurance.numPolice }}</td>
                <td>
                    <a href="{{ path('app_assurance_show', {'id': assurance.id}) }}">show</a>
                    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assurance_new') }}">Create new</a>
{% endblock %}
