{% extends 'base.html.twig' %}

{% block title %}Assurance{% endblock %}

{% block body %}
    <h1>Assurance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ assurance.dateDebut ? assurance.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ assurance.dateFin ? assurance.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Compagnie</th>
                <td>{{ assurance.compagnie }}</td>
            </tr>
            <tr>
                <th>NumPolice</th>
                <td>{{ assurance.numPolice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_index') }}">back to list</a>

    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>

    {{ include('assurance/_delete_form.html.twig') }}
{% endblock %}
