 <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading " style="color:white !important">Entités</div>

                            <div class="sb-sidenav-menu-heading">A</div>    
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_assurance_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Assurance
                            </a>
                             <div class="sb-sidenav-menu-heading">C</div>  
                            <a style="color:white !important" class="nav-link"
                             href="{{path('app_camion_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Camions
                            </a>

                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_chauffeur_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Chauffeur
                            </a>

                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_categorie_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Catégorie
                            </a>


                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_controleur_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Controlleur
                            </a>
                             <div class="sb-sidenav-menu-heading">E</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('etiquette_list')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Etiquette
                            </a>
                            <div class="sb-sidenav-menu-heading">G</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_grade_videnge_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Grade Videnges
                            </a>

                            <a style="color:white !important" class="nav-link" 
                             href="{{path('app_graissage_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Graissages
                            </a>
                             <div class="sb-sidenav-menu-heading">I</div>  
                            <a style="color:white !important" class="nav-link" 
                             href="{{path('incident_list')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Incidents
                            </a>

                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_inspecteur_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Inspecteurs
                            </a>

                            <a style="color:white !important" class="nav-link" 
                             href="{{path('app_inspection_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Inspections
                            </a>
                             <div class="sb-sidenav-menu-heading">L</div>  
                            <a style="color:white !important" class="nav-link" 
                             href="{{path('app_list_piece_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Lister Pieces
                            </a>
                             <div class="sb-sidenav-menu-heading m-0">M</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_mecanicien_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Mécanicien
                            </a>
                             <div class="sb-sidenav-menu-heading">P</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_piece_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Piece
                            </a>
                             <div class="sb-sidenav-menu-heading">R</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_reparation_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Réparation
                            </a>
                             <div class="sb-sidenav-menu-heading">T</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_tracteur_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tracteur
                            </a>

                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_type_camion_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Type Camion
                            </a>
                             <div class="sb-sidenav-menu-heading">V</div>  
                            <a style="color:white !important" class="nav-link" 
                            href="{{path('app_videnge_index')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Videnge
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Connecté en tan que:</div>
                        Admin(défaut)
                    </div>
                </nav>
            </div>