{% extends 'base.html.twig' %}

{% block title %}Nouvel Incident{% endblock %}
{% block stylesheets %}
    <style>
        .card {
            border-radius: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function flatpickr(s, param2) {

            }

            flatpickr(".js-datepicker", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="card mt-5 shadow-sm">
        <div class="card-header">
            <h3 class="mb-0"><i class="fas fa-plus-circle"></i> Nouvel Incident</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le type'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la description'}}) }}
            </div>
            <button class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
