{% extends 'base.html.twig' %}

{% block title %}Videnge{% endblock %}

{% block body %}
    <h1>Videnge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ videnge.id }}</td>
            </tr>
            <tr>
                <th>KmVidenge</th>
                <td>{{ videnge.kmVidenge }}</td>
            </tr>
            <tr>
                <th>EcartType</th>
                <td>{{ videnge.ecartType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_videnge_index') }}">back to list</a>

    <a href="{{ path('app_videnge_edit', {'id': videnge.id}) }}">edit</a>

    {{ include('videnge/_delete_form.html.twig') }}
{% endblock %}
