{% extends 'base.html.twig' %}

{% block title %}Inspecteur{% endblock %}

{% block body %}
    <h1>Inspecteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inspecteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ inspecteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ inspecteur.prenom }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ inspecteur.contact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inspecteur_index') }}">back to list</a>

    <a href="{{ path('app_inspecteur_edit', {'id': inspecteur.id}) }}">edit</a>

    {{ include('inspecteur/_delete_form.html.twig') }}
{% endblock %}
