{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# Include Bootstrap CSS if not already included in your base.html.twig #}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Affectation Form</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.dateFin, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.chauffeur, {'attr': {'class': 'form-control'}}) }}
            </div>
            {# Add other form fields here in similar fashion #}

            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {# Include Bootstrap JS and dependencies if not already included in your base.html.twig #}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
